	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/10/2018 11:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-call:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-cute-rocket-launching:before { content: "\f103"; }
.flaticon-support:before { content: "\f104"; }
.flaticon-music-player-play:before { content: "\f105"; }
.flaticon-car-directions:before { content: "\f106"; }
.flaticon-crawling-baby-silhouette:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-gmo:before { content: "\f109"; }
.flaticon-folder:before { content: "\f10a"; }
.flaticon-placeholder:before { content: "\f10b"; }
.flaticon-old-typical-phone:before { content: "\f10c"; }
.flaticon-worldwide:before { content: "\f10d"; }
.flaticon-left-quotes-sign:before { content: "\f10e"; }
.flaticon-broken-link:before { content: "\f10f"; }
.flaticon-plant:before { content: "\f110"; }
.flaticon-plan:before { content: "\f111"; }
.flaticon-search:before { content: "\f112"; }
.flaticon-seo-performance-marketing-graphic:before { content: "\f113"; }