
/* Large Layout: 1200px. */
@media only screen and (min-width: 1200px){
.container {padding: 0;}
.container-fluid{padding: 0;}    
 
    
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .tp-leftarrow.tparrows.metis {left: -28px !important;}
}
@media only screen and (min-width: 1199px) and (max-width: 1200px) {
  .header-transparent .main-menu .navigation > li{margin-left: 20px;}
}

/* Medium screen  */ 
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    

/*** 
=============================================
    Mainmenu Area style
=============================================
***/      
.main-menu .outer-search-box {
    margin-right: 50px;
} 
.main-menu .navigation > li:hover > ul {
  left: 15px;
}    
.main-menu .navigation > li.dropdown > a {
    padding-right: 5px;
}
.main-menu .navigation li a {
    padding: 19px 15px 18px;
}

.header-contact-info ul li {

    display: inline-block;
    float: left;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px 0;
    padding-left: 30px;
    margin-left: 20px;
    padding-right: 20px;

}

.free-consulation-button a{
  height: 67px;
  line-height: 34px;
}
.service-section .service-block{padding: 55px 20px 40px;}
.service-section.style2 .service-block .service-det{padding: 0px 0px 0px 35px;}
.service-section.style2 .service-block i{left: 30%;}
.team-sec .team-single .overlay{padding: 103px 20px 0px;}
.team-sec .team-single ul li{padding: 0 7px;}
.team-sec .team-single ul li a{font-size: 18px}
.price-table .table-block{padding: 50px 25px;}
.single-footer-widget .footer-social-links li a i {
  font-size: 15px;
  height: 35px;
  width: 35px;
  line-height: 35px;
}

.single-footer-widget.wedo{padding-left: 10px;}

.services-details .left-content-area .about-item ul.left-side,
.services-details .left-content-area .about-item ul.right-side{
  width: 100%;}

.contact-us .contact-info{padding: 40px 10px;}

}


/* Tablet Layout: 768px. */
@media only screen and (max-width: 991px) {

/*** 
=============================================
    Header Area style
=============================================
***/  

.main-slider h1 {margin-left: 110px; font-size: 45px;}

.main-slider .text {margin-left: 118px;}

.main-slider .btns-box a {margin-left: 119px !important;}
.main-slider .btns-box a.thm-btn.bg-clr1 {margin-left: 40px !important;}
.services-details .service-menu{
  margin-bottom: 40px;
  margin-right: 0px;
}

.header-area .logo {
    margin: 0 0 20px;
}
.header-contact-info {
    float: none;
}
.header-contact-info ul li{
  margin-left: 19px;
  padding-right: 22px;
}

.header-transparent .logo-box{
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .header-transparent .transparent-menu .navigation > li > a{
    padding: 25px 0px 30px 12px;
  }
  .header-transparent .transparent-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
    top: 25px;
  }
.free-consulation-button {
    position: absolute;
    top: -234px;
    right: 18px;
}

.main-menu .navigation > li.home:before{
  display: none;
}

.header-transparent .logo-box{
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
  }
 
   
/*** 
=============================================
    Mainmenu Area style
=============================================
***/  

.main-menu .navigation > li.dropdown > a {
    padding-right: 4px;
}
.main-menu .navigation li a {
    padding: 19px 14px 18px;
}  
.main-menu .outer-search-box {
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
}

.main-menu .navigation > li:hover > ul {
  left: 15px;
}       

.about-sec .right-content-area {padding-top: 50px;}
.contact-area .heading-text h1{line-height: 41px;}
.contact-area .btn-cont a{margin-top: 10px;}
.latest-project-area .project-filter{
  margin-top: 0px;
  margin-bottom: 40px;
}
.service-section.style2 .service-block,
.service-section.style2 .service-block .icon-box{display: block; width: 100%;}
.service-section.style2 .service-block .icon-box img {width: 100%;}
.service-section.style2 .service-block i{left: 37%; top: 66%;}
.service-section.style2 .service-block .service-det{display: block; padding: 10px 30px;}
.about-sec .left-content-area .img-wrapper {
  display: block; 
}
.team-sec .team-single .text-bottom{margin-bottom: 30px;}

.single-footer-widget.wedo{
  padding-left: 0px;
}
.contact-section .contact-area{
  margin: 90px 0px 70px
}
.contact-us .left-side{
  margin-right: 0px;
  margin-bottom: 40px;
}
.contact-us .map-area{
  margin-left: 0px;
}
.contact-info .item .border{
  display: none;
}

.right-content-area{padding: 25px 0; float: left;}
.right-side-bar {padding: 30px 0;}
.contact-us .contact-info{padding: 40px 10px; margin-bottom: 30px; }
.main-slider h1 {
    margin-left: 110px;
    font-size: 43px;
    margin-top: 45px;
}

}    
@media only screen and (min-width: 768px){
  .header-transparent .main-menu .navigation > li > ul,
  .header-transparent .main-menu .navigation > li > ul > li > ul{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }

}


/* Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
    
      
/*** 
=============================================
    Main mneu Area style
=============================================
***/ 

.header-area .logo{
  position: relative;
  float: none;
  text-align: center;
}
.main-slider h1 {
    margin-left: 110px;
    font-size: 40px;
    line-height: 46px;
}

.main-slider .text {margin-top: 0;}
.header-transparent .header-lower{position: relative;}

.free-consulation-button{display: none;}
.footer-top-area .footer-top-content .button{
  float: left !important;
}
.rev_slider_wrapper .slide-content-box h1{
  font-size: 30px !important;
}
.top-bar-area .top-right{
  padding-right: 0px!important;
}
.top-bar-area .top-right:before{
  display: none !important;
}
.header-contact-info ul li {
  display: block;
  text-align: center;
  float: none;
  margin: 0px;
  margin-bottom: 20px;
}

.mainmenu-area.stricky-fixed{
  position: static;
  background: none;
}

.contact-info .contact-area{
  padding: 40px 0px !important;
}
.contact-info .item{
  padding: 20px 0px !important;
}
.header-contact-info ul li .text-holder h6{
  margin-top: 20px;
}
.header-contact-info ul li .iocn-holder, 
.header-contact-info ul li .text-holder {
  position: relative;
  display: inline;
  text-align: center;
  padding-left: 0px;
}
.top-bar-area .right-side,
.top-bar-area .left-side{
  float: none;
  text-align: center;
}

.header-area{
  padding: 30px 0px 40px;
}
.mainmenu-area {
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 999999;
} 
.mainmenu-area.stricky-fixed{
  position: static;
  background: none;
}        
.mainmenu-area .mainmenu-bg {
  background: transparent;
  margin-bottom: 20px;
}
.main-menu {
  display: inline-block;
  float: right !important;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 5;
  width: 100%;
}
.main-menu .navigation li {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}   
.main-menu .collapse {
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  float: none;
  margin: 0;
  max-height: 300px;
  overflow: auto;
  padding: 0;
  width: 100%;
}    
.main-menu .collapse.in, 
.main-menu .collapsing {
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 0 0 20px;
  padding: 0;
  border-top: none;
}    
.main-menu .navbar-header{
  position:relative;
  float:none;
  display:block;
  text-align:right;
  width:100%;
  padding:15px 0px;
  right:0px;
  z-index:12;
}        
.main-menu .navbar-header .navbar-toggle {
    border: 2px solid #0660a9;
    display: inline-block;
    float: left;
    margin: 0;
    z-index: 7;
    width: 45px;
    height: 40px;
    border-radius: 0;
}  
.main-menu .navbar-header .navbar-toggle .icon-bar {
  background: #0660a9 none repeat scroll 0 0;
  font-weight: 700;
}  
.main-menu .navbar-collapse > .navigation {
  background: #0660a9 none repeat scroll 0 0;
  float: none !important;
  margin: 0 !important;
  width: 100% !important;
  border-bottom: 1px solid #fff;
}      
.main-menu .navbar-collapse > .navigation > li{
  margin:0px !important;
  float:none !important;
  width:100%;
  padding: 0;
}  
.main-menu .navigation li.dropdown > a:after{
  display:none !important;
} 
.main-menu .navbar-collapse > .navigation > li > a{
  padding:10px 10px !important;
}    
  
.main-menu .navbar-collapse > .navigation > li > ul,
.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
  position:relative;
  border:none;
  float:none;
  visibility:visible;
  opacity:1;
  display:none;
  margin:0px;
  left:auto !important;
  right:auto !important;
  top: auto!important;
  width:100%;
  background: none;
  border-radius:0px;
  -webkit-border-radius:0px;
  -ms-border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  transition:none !important;
  -webkit-transition:none !important;
  -ms-transition:none !important;
  -o-transition:none !important;
  -moz-transition:none !important;
}    
.main-menu .navbar-collapse > .navigation > li > ul,
.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
  border-top: 0px solid rgba(255,255,255,1) !important; 
}
    
.main-menu .navbar-collapse > .navigation > li,
.main-menu .navbar-collapse > .navigation > li > ul > li,
.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
  border-top: 1px solid #fff !important;
  opacity:1 !important;
  top:0px !important;
  left:0px !important;
  visibility:visible !important;
}
.main-menu .navbar-collapse > .navigation > li > a,
.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
  padding:10px 10px !important;
  line-height:22px;
  color:#ffffff;
  background:#0660a9;
  text-align:left;
} 
.main-menu .navbar-collapse > .navigation > li > ul > li > a{
  padding:10px 20px !important;
  line-height:22px;
  color:#ffffff;
  background:#0660a9;
  text-align:left;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}     
.main-menu .navbar-collapse > .navigation > li:hover > a,
.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navbar-collapse > .navigation > li.current > a{
  background:#2b2c36;
  color:#ffffff !important;
}        
.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
  display:block;
}
.header-transparent .menu-bar {
    position: relative;
    float: left;
    right: 0;
}
.transparent-menu .collapse {
    overflow:auto;
    float:none;
    width:100%;
    padding:10px 0px 0px;
    border:none;
    margin:0px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
   }
   
  .transparent-menu .collapse.in,
  .transparent-menu .collapsing{
    padding:10px 0px 0px;
    border:none;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;  
  }
  
  
  .transparent-menu .navbar-header {
      position: relative;
      display: inline-block;
      text-align: right;
      padding: 12px 0px;
      right: 0px;
      z-index: 12;
  }
  
  .transparent-menu .navbar-header .navbar-toggle{
    display:inline-block;
    z-index:7;
    float:none;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .transparent-menu .navbar-header .navbar-toggle .icon-bar{
    background:#4ecd66; 
  }
  
  .transparent-menu .navbar-collapse > .navigation{
    float:none !important;
    margin:0px !important;
    width:100% !important;
    background:#fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  .transparent-menu .navbar-collapse > .navigation > li{
    margin:0px !important;
    float:none !important;
    width:100%;
  }
  
  .transparent-menu .navigation > li > a,
  .transparent-menu .navigation > li > ul:before{
    border:none;  
  }
  
  .transparent-menu .navbar-collapse > .navigation > li > a{
    padding:10px 10px !important;
    border-bottom: 1px solid #eee;
    margin:0; 
  }
  
  .transparent-menu .navigation li.dropdown > a:after,
  .transparent-menu .navigation > li.dropdown > a:before,
  .transparent-menu .navigation > li > ul > li > a::before,
  .transparent-menu .navigation > li > ul > li > ul > li > a::before{
    color:#ffffff !important;
    right:15px;
    font-size:16px;
    display:none !important;
  }
  
  .transparent-menu .navbar-collapse > .navigation > li > ul,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul{
    position:relative;
    border:none;
    float:none;
    visibility:visible;
    opacity:1;
    display:none;
    margin:0px;
    left:auto !important;
    right:auto !important;
    top:auto !important;
    width:100%;
    background:#222;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    transition:none !important;
    -webkit-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    -moz-transition:none !important;
  }
    
  .transparent-menu .navbar-collapse > .navigation > li > ul,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul{
    border-top:1px solid rgba(255,255,255,1) !important;  
  }
  
  .transparent-menu .navbar-collapse > .navigation > li,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
    opacity:1 !important;
    top:0px !important;
    left:0px !important;
  }
  
  .transparent-menu .navbar-collapse > .navigation > li:first-child{
    border:none;  
  }
  
  .transparent-menu .navbar-collapse > .navigation > li > a,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > a,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
    padding:10px 10px !important;
    line-height:22px;
    color:#222;
    background: #fff;
    text-align:left;
  }
  
  .transparent-menu .navbar-collapse > .navigation > li:hover > a,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .transparent-menu .navbar-collapse > .navigation > li.current > a,
  .transparent-menu .navbar-collapse > .navigation > li.current-menu-item > a{
    background: #fff;
  }
  
  .transparent-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
    display:block;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  .transparent-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn span{
    color: #222;
    font-size: 20px;
    z-index: 1;
  }
  .transparent-menu .navigation > li > ul > li > a{
    border-bottom: 1px solid #eee !important;
  }
  .transparent-menu .navbar-collapse > .navigation li.dropdown:after,
  .transparent-menu .navigation > li > ul:before{
    display:none !important;  
  }
  .transparent-menu .menu-bar{
    float: none;
  }
  .transparent-menu{
    right: 0px;
    width: 100%;
  }
  .header-transparent .menu-bar .btn-box{
    position: absolute;
    top: -5px;
    right: 0px;
  }

.header-contact-info ul li::before{display: none;}
.service-section.style2 .service-block i {left: 43%; top: 82%;}
.fact-counter-area .single-item{text-align: center;}
.services-details .left-content-area{float: left;width: 100%;padding-bottom: 30px;}
.services-details .left-content-area .about-item ul.left-side,
.services-details .left-content-area .about-item ul.right-side{
  width: 50%;
}
.services-details .right-content-area .img-wrapper img{width: 100%;}

/**********Header Style Two***************/
.header-transparent .transparent-menu .collapse {
    overflow:auto;
    float:none;
    width:100%;
    padding:10px 0px 0px;
    border:none;
    margin:0px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
   }
   
  .header-transparent .transparent-menu .collapse.in,
  .header-transparent .transparent-menu .collapsing{
    padding:10px 0px 0px;
    border:none;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;  
  }
  
  
  .header-transparent .transparent-menu .navbar-header {
      position: relative;
      display: inline-block;
      text-align: right;
      padding: 12px 0px;
      right: 0px;
      z-index: 12;
  }
  
  .header-transparent .transparent-menu .navbar-header .navbar-toggle{
    display:inline-block;
    z-index:7;
    float:none;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .header-transparent .transparent-menu .navbar-header .navbar-toggle .icon-bar{
    background:#159eee; 
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation{
    float:none !important;
    margin:0px !important;
    width:100% !important;
    background:#fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li{
    margin:0px !important;
    float:none !important;
    width:100%;
  }
  
  .header-transparent .transparent-menu .navigation > li > a,
  .header-transparent .transparent-menu .navigation > li > ul:before{
    border:none;  
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > a{
    padding:10px 10px !important;
    border-bottom: 1px solid #eee;
  }
  
  .header-transparent .transparent-menu .navigation li.dropdown > a:after,
  .header-transparent .transparent-menu .navigation > li.dropdown > a:before,
  .header-transparent .transparent-menu .navigation > li > ul > li > a::before,
  .header-transparent .transparent-menu .navigation > li > ul > li > ul > li > a::before{
    color:#ffffff !important;
    right:15px;
    font-size:16px;
    display:none !important;
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul{
    position:relative;
    border:none;
    float:none;
    visibility:visible;
    opacity:1;
    display:none;
    margin:0px;
    left:auto !important;
    right:auto !important;
    top:auto !important;
    width:100%;
    background:#222;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    transition:none !important;
    -webkit-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    -moz-transition:none !important;
  }
    
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul{
    border-top:1px solid rgba(255,255,255,1) !important;  
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
    opacity:1 !important;
    top:0px !important;
    left:0px !important;
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li:first-child{
    border:none;  
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
    padding:10px 10px !important;
    line-height:22px;
    color:#222;
    background: #fff;
    text-align:left;
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li:hover > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li.current > a,
  .header-transparent .transparent-menu .navbar-collapse > .navigation > li.current-menu-item > a{
    background: #fff;
  }
  
  .header-transparent .transparent-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
    display:block;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  .header-transparent .transparent-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn span{
    color: #222;
    font-size: 20px;
    z-index: 1;
  }
  .header-transparent .transparent-menu .navigation > li > ul > li > a{
    border-bottom: 1px solid #eee !important;
  }
  .header-transparent .transparent-menu .navbar-collapse > .navigation li.dropdown:after,
  .header-transparent .transparent-menu .navigation > li > ul:before{
    display:none !important;  
  }
  .header-transparent .main-header .menu-bar{
    float: none;
  }
  .header-transparent .transparent-menu{
    right: 0px;
    width: 100%;
  }
  .header-transparent .menu-bar .btn-box{
    position: absolute;
    top: -5px;
    right: 0px;
  }
  .transparent-menu .search-box-area { 
    top: 18px;
    right: -639px;
  }
  .transparent-menu .search-box-area .search-toggle i::before{
    color: #000;
  }

}

@media only screen and (max-width: 600px) {
  .main-slider h1{
    font-size: 32px;
    line-height: 42px;
    margin-left: 0px;
  }
  .main-slider .text{margin: 6px 0 0;}
  .main-slider .metis.tparrows{
    display: none;
  }
  .main-slider .btns-box a{
    margin-left:0 !important; 
  }
  .mainmenu-area.stricky-fixed{
  position: static;
  background: none;
}
.transparent-menu .search-box-area { 
    top: 18px;
    right: -489px;
  }
  .service-section.style2 .service-block i{top: 79%;}
}

@media only screen and (max-width: 480px) {
  .service-section.style2 .service-block i {left: 39%; top: 74%;}
  .latest-project-area .project-filter li{margin: 0 -2px 10px;}
  .about-sec .right-content-area .about-item ul{width: 100%;}
  .about-sec{padding: 92px 0 70px;}
  .header-contact-info ul li .iocn-holder{left: -9px;}
  .faq .accordion i::before {top: 136%; }
  .latest-project-area .project-filter li span{padding: 17px 20px;}
  .content-text .author-com ul li a{margin-left: 7px;}
  .blog-details .item-holder .blog-item ul{width: 100%;}
  .transparent-menu .search-box-area { 
    top: 18px;
    right: -359px;
  }
}